[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "plugins/ctrlp.vim"]
	path = plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "plugins/vim-fixkey"]
	path = plugins/vim-fixkey
	url = https://github.com/drmikehenry/vim-fixkey.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugins/vim-airline-themes"]
	path = plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "plugins/vim-colors-solarized"]
	path = plugins/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "plugins/indentLine.git"]
	path = plugins/indentLine.git
	url = https://github.com/Yggdroot/indentLine.git
[submodule "plugins/vim-easymotion"]
	path = plugins/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "plugins/incsearch.vim"]
	path = plugins/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "plugins/incsearch-fuzzy.vim"]
	path = plugins/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "plugins/incsearch-easymotion.vim"]
	path = plugins/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "plugins/auto-pairs"]
	path = plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "plugins/tern-for-vim"]
	path = plugins/tern-for-vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "plugins/neocomplete"]
	path = plugins/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
